<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action='/piglatinize' method="post">
      <label>Enter your phrase:</label><br><br><input type="text" style="width:200px; height:50px;" name="user_phrase" placeholder="The quick brown fox will look like ethay uickqay ownbray oxfay">
      <br><br><input type="submit">
    </form>
  </body>
</html>
