<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/">
      <p>What do you want to translate?</p>
      <textarea name="phrase"></textarea>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
